build/
third_party/
!third_party/README.md

# models
models/
!models/README.md
!models/Sample/

# result
result/
!result/README.md

# vscode
.vscode/

# tools
tools/SaveBounds
tools/SaveRay

